{% set newsText = component.fields.news_text.value %}
{% set newsColor = component.fields.news_color.value %}
{% set backgroundColor = component.fields.background_color.value %}

<div style="background-color: {{ backgroundColor }}; color: {{ newsColor }}; padding: 10px;">
    {{ newsText }}
</div>